<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="PopulationLogger" fileName="csv/simulationPopulation.csv" append="false">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="core.logger.PopulationLogger" level="trace">
            <AppenderRef ref="PopulationLogger"/>
        </Logger>
    </Loggers>
</Configuration>